html body {
    background-color: #D7CEB2;
}
#nav {
    background-color:#66635B;
}
.navbar-brand
{
    font-size: 25px;
    font-family: 'Exo', sans-serif;
}
.nav-item
{
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    
}
.inline-block {
    align-items: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #D7CEB2;
    background-color:#4C5760;
}
.general-sub {
    color: #fafafa;
}
#footer-details {
    background-color: #66635B;
    padding: 20px;
}
.drink  a{
    color:white;
}
video {
    border:0;
}
.bg-main
{
    background-color: #D7CEB2;
}
.main-heading  {
    text-align: center;
    background-color: #D7CEB2;
    margin:5%;
    font-family: 'Exo', sans-serif;
}
.filler {
    font-size: 25px;
    background-color: #D7CEB2 ;
    margin:10%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.product-button {

    font-size: 20px;
    background-color: #93A8AC;
    margin-bottom:100px;
   

}
.container {
    text-align: center;  
}