.navbar-brand
{
    font-size: 25px;
}
.nav-item
{
    font-size: 20px;
    
}
.inline-block {
    align-items: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: black;
    background-color: grey;
}
.general-sub {
    color: #fafafa;
}
#footer-details {
    background-color: black;
    padding: 20px;


}
.drink  {
    color:white;
}
.drink  a{
    color:grey;
}